@model List<Kiralama>

@if (TempData["basarili"] != null)
{
    <div class="alert alert-success">
        <h2>@TempData["basarili"]</h2>
    </div>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitap Kiralamaları</h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Öğrenci Id</th>
                <th>Kitap Adı</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kiralama in Model)
            {
                <tr>
                    <td>@kiralama.Id</td>
                    <td>@kiralama.OgrenciId</td>
                    <td>@kiralama.Kitap.KitapAdi</td>
                    <td>
                        <a asp-controller="Kiralama" asp-action="EkleGuncelle" asp-route-id="@kiralama.Id" class="btn btn-secondary btn-sm" style="width:150px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Kiralama" asp-action="Sil" asp-route-id="@kiralama.Id" class="btn btn-secondary btn-sm" style="width:150px">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Kiralama" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                Yeni Kiralama İşlemi
            </a>
        </div>
    </div>
</div>
